.tools__main{
    display: flex;
    flex-direction: column;
    padding: 22px;
}

.tools__main>div{
    margin-top: 10px;
}

.tools__main>button{
    margin-top: 10px;
}

.tools__main.disabled{
    pointer-events: none;
    opacity: .5;
}

.tools__border{
    display: flex;
    align-items: center;
    color: white;
    width: 20dvw;
}

#border{
    cursor: pointer;
}

label {
    display: flex;
    flex-direction: column;
    color: white;
}

p {
    color: white;
    margin: 0px;
}

.unchecked {
    pointer-events: none;
    opacity: .5;
}

.color__picker{
    display: flex;
    flex-direction: column;
}

.color__box{
    border: 0px;
}

.color__button{
    cursor: default;
    border-width: 3px;
    border-style: double;
    padding: 10px;
}

.color__button:hover{
    pointer-events: none;
}

#txtbutton{
    background-color: black;
}

.tools__frame{
    display: flex;
}

.select__font{
    display: flex;
    align-items: end;
}

button{
    cursor: pointer;
}

@media only screen and (max-width: 740px) {
    .tools__main{
        width: fit-content;
    }
}