.App {
    display: flex;
    background-color: black;
}

canvas {
    display: flex;
    width: 70dvw;
    max-height: 95vh;  
}

@media only screen and (max-width: 740px) {
    .App {
        flex-direction: column;
    }
}

input{
    cursor: pointer;
}