@font-face {
  font-family: 'MinimalRegular';
  src: url("fonts/Minimal_Mono/Minimal-Mono-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'MinimalBold';
  src: url("fonts/Minimal_Mono/Minimal-Mono-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'LatoRegular';
  src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'LatoBold';
  src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
}

.App {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#canvas {
  display: flex;
  width: 70dvw;
  max-height: 95vh;
}
