
@font-face {
    font-family:'MinimalBold';
    src: url("assets/fonts/Minimal_Mono/minimal-mono-bold-webfont.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family:'Minimal';
    src: url("assets/fonts/Minimal_Mono/minimal-mono-regular-webfont.woff2") format("woff2");

}

@font-face {
    font-family:'LatoBold';
    src: url("assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family:'Lato';
    src: url("assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family:'CormorantBold';
    src: url("assets/fonts/Cormorant/Cormorant-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family:'Cormorant';
    src: url("assets/fonts/Cormorant/Cormorant-Regular.ttf") format("truetype");
}

@font-face {
    font-family:'ErikasBueroBold';
    src: url("assets/fonts/ErikasBuero/ErikasBueroBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family:'ErikasBuero';
    src: url("assets/fonts/ErikasBuero/ErikasBuero.ttf") format("truetype");
}

@font-face {
    font-family:'digital7';
    src: url("assets/fonts/digital_7/digital-7.ttf") format("truetype");
}