.model__main{
    margin-top: 20px;
    width: 100%;
}

.tools__model{
    display: flex;
}

.switch{
    display: flex;
    flex-direction: row;
}

.switch{
    size: 10px;
}

.model__position{
    display: flex;
}