.model__main{
    margin-top: 20px;
    width: 100%;
}

.tools__model{
    display: flex;
}

.switch{
    display: flex;
    flex-direction: row;
}

.switch{
    size: 10px;
}

.model__position{
    display: flex;
}

#form__model{
    padding: 4px 1px 4px 11px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(128, 128, 128, 0.514);
    border-radius: 10px;
}