.select__font{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.font__bold{
    display: flex;
    flex-direction: row;
}

.MuiFormControlLabel{
    margin: 0px;
}